body {
    background-image: url('./argyle.png');
    display: flex;
    justify-content: center;
}

#app {
    font-family: 'Allerta Stencil', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3px;
    width: 300px;
    height: 400px;
}

#titulo {
    color: #fff;
    background: rgba(155, 12, 255);
    font-family: 'Monoton', cursive;
    font-size: 2em;
    padding: 6px;
    border-radius: 30px 30px 0px 0px;
    white-space: pre-wrap;
}

#campo {
    height: 3em;
}

#but {
    color: #fff;
    background: rgba(155, 12, 255);
    font-family: 'Monoton', cursive;
    border-radius: 0px 0px 30px 30px;
    height: 50px;
}

#but:hover {
    background: rgba(200, 2, 255);
}